.fisca-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.pdf-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.pdf-description {
  margin-bottom: 20px;
  font-style: italic;
}

.loading-text {
  font-size: 18px;
  color: #555;
}

.pdf-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.pdf-table th, .pdf-table td {
  padding: 12px; /* Espacio alrededor del texto */
  text-align: left;
  border: 1px solid #ddd; /* Línea de separación */
}

.pdf-table th {
  background-color: #4CAF50; /* Color de fondo del encabezado */
  color: white; /* Color del texto del encabezado */
}

.pdf-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Color de fondo para filas pares */
}

.pdf-table tr:hover {
  background-color: #ddd; /* Color de fondo al pasar el ratón sobre la fila */
}
